/*Application style sheet, 
  css styles not in other sheets*/
  h1 {
    margin-bottom: 30px ;
    margin-top: 30px ;
  }
  h4 {
    margin-bottom:10px;
  }
  #cameradiv, #lens{
    margin-bottom: 20px;
  }

  #fd{
    margin-bottom: 40px;
  }

  .ui-slider-horizontal.ui-slider-pips { 
    margin-bottom: 1.4em; }   

  .ui-slider-pip.ui-slider-pip-selected,
  .ui-slider-pip.ui-slider-pip-selected-initial {
    color: #434d5a !important; }      

  #ap .ui-slider-pip {
    top: 5px; }

  #ap .ui-slider-pip .ui-slider-line {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    margin-left: -2px;
    background: #fffaf7; }

  #ap .ui-slider-label {
    margin-top: 5px; }
                    
  .instlist {
    margin: 5px 0px 5px 15px;}

  .scale {
    position: absolute;
    top: 10px;
    right: 30px;

  }
  #splash {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    background-color:#2D2F31;
  }
  #splashscreen {
    margin: auto;
    margin-top: 90px;
    width: 70%;
  }
  #splashscreen .splash-text {
    color: #DCD8D6 ;
  }
  #splashscreen .splash-title {
    color: #DCD8D6 ;
    margin-bottom: 30px;
  }
  #splashscreen img {
    margin-left: 40%;
  }
  #splashscreen  a {
    text-decoration: none;
    text-align: center;
    /*margin-top: 10px;*/
    /*margin-left: 35%;*/
    /*margin: auto*/
  }
  #splashscreen  a:link, #splashscreen  a:active, #splashscreen  a:visited{
    color: #349B89
  }
  #splashscreen  a:hover{
    color: #D58C70
  }
